.container_analise_top{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.card_top_analise{
    width: 100%;
    height: 300px;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;

}


.card_grafico_analise{
    width:60%;
    height: 300px;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;

}

.card_top_grafico_analise{
    width: 40%;
    height: 300px;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;

}


.container_analise_botoom{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 100%;
    padding-top: 2rem;
}

.card_botoom_analise{
    display: flex;
    background-color: rgb(239, 239, 239);
    width: 48.6%;
    height: 300px;
    border-radius: 5px;

}