



.title_banner_categorria{
    display: flex;
    font-size: 15px;
    color: #4A4A4A;
    font-weight: 500;
}

.container_banner_wrap{
    display: flex;
    width: 80vw;
    height: 100%;
    border: 1px solid #aaaaaa ;
    border-radius: 5px;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

}

.tamanho_banner_adm{
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 14px;
    color: #aaaaaa;
}


.item_banner_adm{
    display: flex;
    width: 280px;
    height: 200px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #4A4A4A;
    font-weight: 500;
    cursor: pointer;
}

.item_banner_adm img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5px;
    
}








@media (max-width:1000px) {
    .continer_cadastrar_produto_adm{
        border: none;
        box-shadow: none;
    }

    .container_banner_wrap{
        justify-content: center;
        align-items: center;
    }
    
}