


.medium_container_cadastrar_categoria_adm{
    display: flex;
    width: 100%;
    height: 50vh;
    padding: 1rem;
    flex-direction: column;
}


.item_categoria_top input{
    display: flex;
    width: 300px;
    height: 35px;
}

.container_medium_title_categoria{
    display: flex;
    width: 100%;
    gap: 1rem;
}


.btn_busca_categoria{
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem ;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    background-color: #e7e7e7;
    font-weight: 500;
    cursor: pointer;
    color: #4A4A4A;
    transition: all 0.2s ease;
    
}

.btn_busca_categoria_2{
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem ;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    background-color: #4A4A4A;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

}

.btn_busca_categoria_2:hover, .btn_busca_categoria:hover{
    background-color: #161616;
    color: white;
}







.lista_categoria_adm{
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}

.container_lista_categoria_adm{
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #aaaaaa ;
    border-radius: 5px;
    padding: 1rem;
    flex-direction: column;
    gap: 0.7rem;
}

.item_lista_categoria_adm{
    display: flex;
    width: 100%;
    height: 35px;
    border: 1px solid #aaaaaa ;
    border-radius: 5px;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;

}

.item_lista_categoria_adm .id_categoria_adm, .nome_categoria_adm{
    display: flex;
    color: #4A4A4A;
    font-weight: 500;
    font-size: 12px;
}


.status_produto_categoria_adm{
    display: flex;
    background-color: rgb(44, 177, 3);
    border-radius: 5px;
    width: 70px;
    height: 25px;
    color:#ffffff;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}
.excluit_produto_categoria_adm{
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;

}
.excluit_produto_categoria_adm i{
    display: flex;
    font-size: 15px;
    color: #4A4A4A;
    text-decoration: none;

}

.excluit_produto_categoria_adm:hover{
    background-color: #cccccc;

}

.img_produto_categoria_adm{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaaaaa ;
}










@media (max-width: 691px){
    .btn_busca_categoria, .btn_busca_categoria_2{
        width: 100px;
        font-size: 10px;
    }

    .item_categoria_top input{
        width: 230px;
    }

    .container_lista_categoria_adm{
        border: none;
    }

    

    .medium_container_cadastrar_categoria_adm{
        display: flex;
        width:100%;
        height: 50vh;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}



@media (max-width: 590px){
    .btn_busca_categoria, .btn_busca_categoria_2{
        width: 80px;
        font-size: 10px;
    }

    .item_categoria_top input{
        width: 230px;
    }

    .container_lista_categoria_adm{
        border: none;
    }

    

    .medium_container_cadastrar_categoria_adm{
        display: flex;
        width:80vw;
        height: 50vh;
        padding: 1rem;
        flex-direction: column;
    }

    .status_produto_categoria_adm{
        width: 50px;
    }


}


@media (max-width: 498px){
    .btn_busca_categoria, .btn_busca_categoria_2{
        width: 70px;
        font-size: 10px;
    }

    .item_categoria_top input{
        width: 140px;
    }

    .container_lista_categoria_adm{
        border: none;
    }

    

    .medium_container_cadastrar_categoria_adm{
        display: flex;
        width:80vw;
        height: 50vh;
        padding: 1rem;
        flex-direction: column;
    }

    .status_produto_categoria_adm{
        width: 50px;
    }

        
    .lista_categoria_adm{
    display: flex;
    width: 80vw;
    height: 100%;
    padding-top: 2rem;
    }


}


@media (max-width: 394px){
    .btn_busca_categoria, .btn_busca_categoria_2{
        width: 70px;
        font-size: 10px;
    }

    .item_categoria_top input{
        width: 140px;
    }

    .container_lista_categoria_adm{
        border: none;
    }

    

    .medium_container_cadastrar_categoria_adm{
        display: flex;
        width:80vw;
        height: 50vh;
        padding: 1rem;
        flex-direction: column;
    }

    .status_produto_categoria_adm{
        width: 50px;
    }

        
    .lista_categoria_adm{
    display: flex;
    width: 100vw;
    height: 100%;
    padding-top: 2rem;
    }


}
