
.container_cart{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;

}


.container_header_cart{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;

}

.container_header_cart .name_cart{
    display: flex;
    font-size: 30px;
    font-weight: 700;
    color:#4A4A4A;
}

.container_header_cart  i{
    display: flex;
    font-size: 23px;
    color: #4A4A4A;
    cursor: pointer;
    transition: all 0.2s ease;
}

.container_header_cart  i:hover{
    transform: translateX(-10px);
}




.container_body_cart{
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conatiner_list_item_cart{
    display: flex;
    width: 100%;
    justify-content:space-around;
}

.conatiner_list_item_cart li{
    color:#4A4A4A;
    font-style: 500;
}

.shape_sacola{
    display: flex;
    height: 1px;
    width: 95%;
    background-color: #e6e6e6;
    margin-top: 1rem;
}








.produto_list_cart{
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding-top: 2rem;
}

.produto_item_cart-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding-right: 9rem;

}

.desconto_produto_cart{
    display: flex;
    color: #bebebe;
    font-weight: 500;
    font-size: 15px;
}

.preco_produto_cart{
    display: flex;
    color: #4A4A4A;
    font-size: 18px;
    font-weight: 600;
}

.produto_item_cart-1{
    display: flex;
    gap: 15px;
    width: 25%;
    padding-left: 1rem;

}

.container_img_produto_cart{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;

}

.container_img_produto_cart img{
    display: flex;
    width: 70%;
    object-fit: contain;
    
}

.produto_item_cart_right{
    display: flex;
    flex-direction: column;

}


.produto_item_cart_right .name_produto_cart{
    display: flex;
    color: #4A4A4A;
    font-size: 16px;
}

.produto_item_cart_right .detalhes_produto_cart{
    display: flex;
    gap: 5px;
}

.detalhes_produto_cart .cor_produto_cart, .tamanho_produto_cart{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: #4A4A4A;
}


.produto_item_cart-3{
    display: flex;
    gap: 1rem;
    padding-top: 1.6rem;
    width: 20%;
    padding-left: 2rem;
}
.produto_item_cart-1 .adicionar_produto_cart, .quant_produto_cart, .subtrair_produto_cart{
    display: flex;
    color: #4A4A4A;
    cursor: pointer;

}


.produto_item_cart-4 {
    display: flex;
    gap:3rem;
    padding-top: 1.4rem;
    align-items: center;
    height: 40%;
    width: 14%;
}


.container_remover_produto_cart{
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #4A4A4A;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container_remover_produto_cart i{
    display: flex;
    color: white;
}



.conatiner_final_carrinho{
    display: flex;
    width: 90%;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 250px;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}




.conatiner_final_carrinho_left{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}


.item_edereco_carrinho{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    

}

.radio_cep{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #bebebe;
    cursor: pointer;
    transition: all 0.1s ease;
}

.radio_cep:hover{
    background-color:#FA301E;
    border: none;


}

.item_edereco_carrinho .text_carrinho_endereco{
    display: flex;
    color: #4A4A4A;
    font-size: 15px;
}











.conatiner_final_carrinho_right{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: end;

}


.body_conatiner_final_right{
    display: flex;
    width: 70%;
    flex-direction: column;

}

.body_conatiner_final_right .item_preco_carrinho{
    display: flex;
    justify-content: space-between;
}

.linha_preco_carrinho{
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    margin-bottom: 1.5rem;
}


.body_conatiner_final_right .item_preco_carrinho .preco_text_carrinho{
    display: flex;
    color: #4A4A4A;
    font-size: 14px;
}



.conatiner_btn_finalizar_compra_cart{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.conatiner_btn_finalizar_compra_cart .btn_finalizar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    color: white;
    background-color: #4A4A4A;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: none;
}
.conatiner_btn_finalizar_compra_cart .btn_finalizar:hover{
    background-color: #2b2b2b;
}




.conatiner_cep_drop input{
    display: flex;
    height: 40px;
    outline-color: #bebebe;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    font-size: 13px;
    color: #4A4A4A;
}

.conatiner_cep_drop .btn_input_cep{
    display: flex;
    height: 40px;
    width: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(171, 171, 171);
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.conatiner_cep_drop .btn_input_cep:hover{
    background-color: #4A4A4A;
}
.conatiner_cep_drop .btn_input_cep:hover i{
    color: white;
}
.conatiner_cep_drop .btn_input_cep i{
    color:#4A4A4A;
}



.conatiner_cep_drop{
    display: flex;
    width: 41%;
    gap: 10px;
    visibility: hidden;
    position: sticky;
    transition: all 0.1s ease;
    opacity: 0;
    
}


.active_drop_cep{
    visibility: visible;
    opacity: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
    border-radius: 5px;

}






@media (max-width:1284px) {
    .item_edereco_carrinho .text_carrinho_endereco{
        font-size: 13px;
    }

    .conatiner_cep_drop{

        width: 50%;
    }
    


}










@media (max-width:1060px) {
    .text_1_cart, .text_2_cart{
        font-size: 13px;
    }
    .desconto_produto_cart{
        font-size: 12px;
    }
    
    .preco_produto_cart{

        font-size: 14px;
    }

    .produto_item_cart-2{
        padding-right: 4rem;
    
    }

    .produto_item_cart-4{
        gap: 2rem;
    }

    .produto_item_cart_right .detalhes_produto_cart{
        flex-direction: column;
        width: 50%;

    }
    .conatiner_final_carrinho{
        flex-direction: column;
        height: 100%;
    }

    .conatiner_final_carrinho_left, .conatiner_final_carrinho_right{
        width: 100%;
    }
    .body_conatiner_final_right{
        width: 100%;
    }

    .conatiner_cep_drop{

        width: 30%;
        margin-bottom: 1rem;
    }
    

    
    
}

@media (max-width:1186px){
    .conatiner_cep_drop{

        width: 60%;
    }

}
@media (max-width:1050px){
    .conatiner_cep_drop{

        width: 40%;
    }

}

@media (max-width:810px){
    .conatiner_cep_drop{

        width: 45%;
    }

}

@media (max-width:718px){
    .conatiner_cep_drop{

        width: 60%;
    }

}
@media (max-width:570px){
    .conatiner_cep_drop{

        width: 70%;
    }

}
@media (max-width:486px){
    .conatiner_cep_drop{

        width: 80%;
    }

}


@media (max-width:770px) {

    .container_final_cart{
        flex-direction: column;
        gap: 1rem;
        position: sticky;

    }

    .container_final_cart_left{
        width: 100%;
        padding: 1.2rem;
      
    }
    .container_final_cart_right{
        width: 100%; /* Reduza para garantir que caiba no layout */

    }

    
.container_input_cep_cart input{
    width: 50%;
}

.container_input_cep_cart .btn_cep_cart{
    width: 10%;
}

.btn_final_cart{
    height: 50px;
    font-size: 18px;
}

.conatiner_list_item_cart{
    display: none;
}



.produto_list_cart{
    display: flex;
    width: 100%;
    padding-top: 2rem;
    flex-wrap: wrap;
    justify-content: unset;
}


    
.produto_item_cart-1{
    display: flex;
    align-items: center;
    width: 70%;
    padding-right: unset;

}

.container_img_produto_cart{
    width: 150px;
    height: 150px;
}

.produto_item_cart_right .name_produto_cart{
    font-size: 16px;
}
.produto_item_cart_right .detalhes_produto_cart{
    flex-direction: unset;
}

.detalhes_produto_cart_mobile{
    display: flex;
    flex-direction: column;
}

.desconto_produto_cart{
    font-size: 15px;
}
.preco_produto_cart{
    font-size: 17px;
}
    

.produto_item_cart-2{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-right: unset;

}

.produto_item_cart-3{
    display: flex;
    width: 30%;
    gap: 1rem;
    padding-top:unset;
    width: 20%;
    padding-left:unset;
    justify-content: center;
    align-items: center;
}

.produto_item_cart-1 .adicionar_produto_cart, .quant_produto_cart, .subtrair_produto_cart{
    font-size: 20px;

}
.produto_item_cart-4{
    display: none;
}




.container_mobile_btn_remove_cart{
    display: flex;
    background-color: aqua;
}


.produto_list_cart{
    display: flex;
    width: 100%;
    padding-top: 2rem;
    justify-content: unset;
    flex-wrap: unset;
}

.conatiner_endereco_ativo_cart input{
    width: 20px;
    height: 20px;
}

.container_final_cart_left{
    gap: 1rem;
    
}









    
}

@media (max-width:706px) {


    .container_endereco_mobile_cart{
        display: flex;
        align-items: start;
        gap: 1rem;
    }
    .container_endereco_mobile_cart .text_1_cart_mobile{
        display: flex;
        color: #4A4A4A;
        font-size: 16px;
        font-weight: 500;
    }
    .container_endereco_mobile_cart input{
        display: flex;
        width: 20px;
        height: 20px;
    }

    .conatiner_endereco_ativo_cart{
        display: none;
    }






    
}


@media (max-width:571px) {

.produto_item_cart_right .detalhes_produto_cart{
    flex-direction: column;
}

.container_input_cep_cart input{
    width: 80%;
}

.container_input_cep_cart .btn_cep_cart{
    width: 20%;

}

.container_endereco_mobile_cart input{
    display: flex;
    width: 25px;
    height: 25px;
}
.item_edereco_carrinho .text_carrinho_endereco{
    font-size: 11px;
}

.text_carrinho_endereco{
    width: 70%;
    font-size: 13px;

}




    
}

@media (max-width:425px) {
    .produto_list_cart{
        flex-direction: column;
    }

    .produto_item_cart-1{
        width: 100%;
    
    }
    .produto_item_cart-3{
        width: 100%;
        padding-top: 2rem;
        gap: 2rem;

    }

    .conatiner_cep_drop{

        width: 90%;
    }

    
}

@media (max-width:391px){
    .conatiner_cep_drop{

        width: 100%;
    }

}