.comprar_produto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.comprar_produto_top{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;


}


.conatiner_name_produto_cat{
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 2rem;
    padding-top: 1rem;

}

.conatiner_name_produto_cat h6{
    display: flex;
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 400;
}

.product-container {
    display: flex;
    height: 100%;
    padding: 2rem;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

.product-thumb-container{
    align-items: center;
    position: relative;
    display: flex;
    gap: 4rem;
    width: 40%;
}


.image-gallery {
    max-width: 400px;
    height: auto;
    position: relative;
    cursor:zoom-in;
}

.image-gallery-urso {
    display: flex;
    height: auto;
    position: relative;
    overflow: hidden;
}

.image-gallery-urso  img {
    width: 100%;
    height: fit-content;
    transition: transform 0.3s ease;
}
.image-gallery-urso:hover  img{
    transform: scale(1.2);
}

.zoom-result{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 20px;
    right: -320px;
    display: none;
    background-repeat: no-repeat;
    background-size: 500px 500px;
    border-radius: 5px;

}

.image-gallery .main-image {
    max-height: 50px;
    height: auto;
    margin-bottom: 50px;
    align-items: center;
}

.thumbnail-images {
    display: flex;
    gap: 1rem;
    flex-direction: column;

}
.thumbnail{
    width: 80px;
    height: 80px;
    object-fit: pointer;
    border-radius: 5px;
}

/* .thumbnail-images img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    background-color: orange;

} */

.product-details {
    display: flex;
    width: 60%;
    height: 100%;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    gap: 1rem;
}

.product-details_left{
    display: flex;
    width: 50%;
    height:100%;
    flex-direction: column;
    gap: 1rem;
}

.product-details_right{
    display: flex;
    width: 50%;
    height:100%;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.container_name_produto{
    display: flex;
    align-items: start;
    gap: 1rem;
    padding-top: 2rem;
}

.container_name_produto h6{
    display: flex;
    font-size: 22px;
    color: #4A4A4A;
    font-weight: 600;



}
.container_name_produto .fa-heart{
    display: flex;

    color: #e2e2e2;
    font-size: 23px;
    cursor: pointer;
}



.container_avaliacao_produto{
    display: flex;
    color: #e2e2e2;
    gap: 0.3rem;
    font-size: 18px;
}

.container_avaliacao_produto i{
    cursor: pointer;

}

.container_preco_produto{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

.container_preco_produto .preco_antigo_produto{
    display: flex;
    color: #a8a8a8;
    text-decoration: line-through;
}


.container_preco_produto .preco_novo_produto{
    display: flex;
    color: #FA301E;
    font-size: 30px;
    font-weight: 600;
}










.item_flex_produto{
    display: flex;
    flex-direction: column;
}

.item_flex_produto label{
    display: flex;
    font-size: 16px;
    color: #4A4A4A;
    font-weight: 500;
}






.item_flex_cor_produto{
    display: flex;
    gap: 1rem;
    
}


.shape_cor_produto{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

}

.shape_cor_produto:nth-child(1){
    background-color: rgb(41, 41, 41);
}
.shape_cor_produto:nth-child(2){
    background-color: #4b1103;
}
.shape_cor_produto:nth-child(3){
    background-color: #eeeeee;
}


.shape_tamanho_produto{
    display: flex;
    border: 1px solid rgb(141, 141, 141);
    padding: 0.8rem;
    border-radius: 5px;
    color: #4A4A4A;
    cursor: pointer;
    transition: all 0.1s ease;
    font-weight: 500;
    font-size: 13px;

}


.shape_tamanho_produto:hover{
    background-color: #4A4A4A;
    color: white;
}



.container_buy_produto{
    display: flex;
    gap: 2rem;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container_buy_produto input{
    display: flex;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #4A4A4A;
    outline: none;
    border: 1px solid #aaaaaa ;
}


.container_buy_produto .btn_buy_produto{
    display: flex;
    width: 60%;
    height: 70px;
    background-color: #FA301E;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    gap: 1rem;
}

.container_buy_produto .btn_buy_produto:hover{
    transform: scale(1.05);
}


.container_buy_produto  .btn_bag_produto{
    display: flex;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #4A4A4A;
    outline: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 1px solid #aaaaaa ;


}

.container_buy_produto  .btn_bag_produto:hover{
    background-color: #4A4A4A;
    color: white;
    border: none
}



.container_buy_produto2{
    display: none;
    gap: 2rem;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container_buy_produto2 input{
    display: flex;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #4A4A4A;
    outline: none;
    border: 1px solid #aaaaaa ;
}


.container_buy_produto2 .btn_buy_produto{
    display: flex;
    width: 60%;
    height: 70px;
    background-color: #FA301E;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    gap: 1rem;
}

.container_buy_produto2 .btn_buy_produto:hover{
    transform: scale(1.05);
}


.container_buy_produto2  .btn_bag_produto{
    display: flex;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #4A4A4A;
    outline: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 1px solid #aaaaaa ;


}

.container_buy_produto2  .btn_bag_produto:hover{
    background-color: #4A4A4A;
    color: white;
    border: none
}








.container_cep_produto{
    display: flex;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 2rem;
    justify-content: center;
    align-items: center;

}

.cep_container_input{
    display: flex;
    gap: 10px;

}

.cep_container_input input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #c2c2c2 ;
    font-size: 15px;
    color: #4A4A4A;
    padding: 10px;
}

.cep_container_input .btn_cep_produto{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 5px;
    background-color:#4A4A4A;
    color: white;
    border: none;
    cursor: pointer;

}
.cep_container_input .btn_cep_produto i{
    transition: all 0.2s ease;
}
.cep_container_input .btn_cep_produto i:hover{
    transform: scale(1.05);
}





.comprar_produto_medium{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.descricao_produto_solo_cont{
    display: flex;
    width: 75%;
    flex-direction: column;
    position: relative;
}


.descricao_produto_solo_cont_header{
    display: flex;
    justify-content: space-between;
    color: #4A4A4A;

}

.icone_produto_solo_item{
    color: #4A4A4A;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}


.descricao_produto_solo_cont_body{
    flex-direction: column;
    opacity: 0;
    height: 0;
    margin-top: 1rem;
    overflow: hidden; /* Evitar que conteúdo fique visível durante a animação */
    visibility: hidden;
    display: flex;
    background-color: aqua;
    transition: all 0.2s ease;
}

.active_solo{
    height: 100%;
    opacity: 1;
    visibility: visible;


}


/* 
/* MEDIA QUERIES  */






@media (max-width: 1177px) {

    
.shape_tamanho_produto{
    padding: 0.5rem;
    font-size: 10px;

}
    
}

@media (max-width: 1000px) {
    .container_buy_produto .btn_buy_produto{
        display: flex;
        width: 60%;
        height: 50px;
        background-color: #FA301E;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: none;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease;
        gap: 0.5rem;
    }
    
.container_buy_produto2 input{
    display: flex;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #4A4A4A;
    outline: none;
}



.container_buy_produto  .btn_bag_produto{
    display: flex;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #4A4A4A;
    outline: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.2s ease;
    cursor: pointer;


}

.container_buy_produto{
    display: flex;
    gap: 1rem;
}


.container_descricao_produto{
    height: 60vh;
}

.btn_publicar_comentario{
    font-size: 13px;
}

.container_buy_produto2 .btn_buy_produto{
    display: flex;
    width: 60%;
    height: 50px;
    background-color: #FA301E;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    gap: 0.5rem;
}

.container_buy_produto2 input{
display: flex;
width: 20%;
height: 50px;
border-radius: 5px;
text-align: center;
font-size: 20px;
font-weight: 500;
color: #4A4A4A;
outline: none;
}



.container_buy_produto2  .btn_bag_produto{
display: flex;
width: 20%;
height: 50px;
border-radius: 5px;
font-size: 20px;
font-weight: 500;
color: #4A4A4A;
outline: none;
justify-content: center;
align-items: center;
background-color: transparent;
transition: all 0.2s ease;
cursor: pointer;


}

.container_buy_produto2{
display: none;
gap: 1rem;
}




    
}


@media (max-width:900px) {

    .product-container {
        display: flex;
        height: 100%;
        padding: 2rem;
        width: 100%;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-thumb-container{
        width: 1000%;
        justify-content: center;
        align-items: center;
    }
    
    
    .product-details{
        width: 100%;
    }

    
.image-gallery {
    max-width: 700px;
    height: auto;
    position: relative;
    cursor:zoom-in;
}

.shape_tamanho_produto{
    display: flex;
    border: 1px solid rgb(141, 141, 141);
    padding: 0.5rem;
    border-radius: 5px;
    color: #4A4A4A;
    cursor: pointer;
    transition: all 0.1s ease;
    font-weight: 500;
    font-size: 13px;

}

.container_buy_produto2{
    display: flex;
    gap: 1rem;
    }
    
.container_buy_produto{
    display: none;
    gap: 1rem;
    }
    


    


    
}

@media (max-width:770px) {


    
.container_descricao_produto{
    display: flex;
    width:90%;
    height:80vh;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.none_display{
    display: none;
}



.container_produto_relacionados{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    flex-wrap: wrap;
}




   
    


    
}

@media (max-width:670px) {


    
.container_descricao_produto{
    display: flex;
    width:90%;
    height:100vh;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.none_display{
    display: none;
}



.container_produto_relacionados{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    flex-wrap: wrap;
}




   
    


    
}

@media (max-width:545px) {

    
.comprar_produto_medium, .comprar_produto_bottom{
    padding-top: 10rem;

}

.container_descricao_produto{
    display: flex;
    width:90%;
    height:100vh;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.none_display{
    display: none;
}



.container_produto_relacionados{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.thumbnail-images {
    display: flex;
    gap: 1rem;
    flex-direction: column;

}
.thumbnail{
    width: 70px;
    height: 70px;
    object-fit: pointer;
    border-radius: 5px;
}

.thumbnail-images {
    display: flex;
    gap: 1rem;

}



   
    


    
}

@media (max-width:490px) {

    
.comprar_produto_medium, .comprar_produto_bottom{
    padding-top: 15rem;

}

.container_descricao_produto{
    display: flex;
    width:90%;
    height:100vh;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.none_display{
    display: none;
}



.container_produto_relacionados{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.comprar_produto_bottom2{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.product-details{
    flex-direction: column;
}

.product-details_left, .product-details_right{
    width: 100%;

}

.thumbnail{
    width: 60px;
    height: 60px;
    object-fit: pointer;
    border-radius: 5px;
}

.image-gallery {
    max-width: 600px;
    height: auto;
    position: relative;
    cursor:zoom-in;
}








   
    


    
}


@media (max-width:418px) {

    .comprar_produto_medium, .comprar_produto_bottom{
        padding-top: 22rem;
    
    }
 
    .thumbnail{
        width: 50px;
        height: 50px;
        object-fit: pointer;
        border-radius: 5px;
    }
    
    
    
}

@media (max-width:360px) {

    .comprar_produto_medium, .comprar_produto_bottom{
        padding-top: 30rem;
    
    }

    .thumbnail{
        width: 40px;
        height: 40px;
        object-fit: pointer;
        border-radius: 5px;
    }
    
    
    
}

@media (max-width:340px) {

    .comprar_produto_medium, .comprar_produto_bottom{
        padding-top: 35rem;
    
    }
    .thumbnail{
        width: 30px;
        height: 30px;
        object-fit: pointer;
        border-radius: 5px;
    }
   
    
}