.conatiner_dados_dashbord{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;

}

.cont_dados{
    display: flex;
    width: 100%;
    height:200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 2rem;


}


.grafico_dados{
    display: flex;
    width: 100%;
    gap: 3rem;
    height: 300px;
    margin-top: 3rem;

}

.grafico_dados .grafico_dados_1{
    display: flex;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.grafico_dados .grafico_dados_2{
    display: flex;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


}


 .pesquisa_geral_dados_produtos{
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 3rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

} 


@media (max-width: 585px) {

    .grafico_dados{
        flex-direction: column;
       height: 100%;

    }

    .grafico_dados .grafico_dados_1{
        width: 100%;
        height: 300px;
    }

    .grafico_dados .grafico_dados_2{
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 552px) {


    .container_title_adm_right i{
        right: 210px;

    }
    
}


@media (max-width: 507px) {


    .container_title_adm_right i{
        right: 180px;

    }
    
}















