


.container_favortos{
    display: flex;
    width: 100%;
    height: 100%;

}

.left-container_favoritos{
  height: 100vh; /* Termina antes do final do container pai */
  justify-content: center;
  display: flex;
  border-right: 1px solid #d1d1d1;
  width: 30%;
}


.container_favoritos_left{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
    height: 100%;

}

.title_left_favoritos{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color: #4A4A4A;
}


.container_favoritos_left ul{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    gap: 50px;
}

.item_favorito_left{
    flex-direction: row;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease;
}

.link_favorito_left{
    display: flex;
    text-decoration: none;
    color: #686868;
    font-weight: 500;
    transition: all 0.2s ease;
    font-size: 15px;

}


.item_favorito_left:hover{
    transform: translateX(20px);
}


.icon_favorito_content{
    display: flex;
    color: #686868;
    font-size: 20px;
}











.right_container_favoritos{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
}


.container_favoritos_right{
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 30px;
}


.banner_container_favoritos{
    display: flex;
    width: 100%;
    height: 40%;

}


.banner_container_favoritos img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.item_conteudo_favoritos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 110px;
}



@media (max-width: 1020px) {
    .left-container_favoritos{
        display: none;
    }
    .right_container_favoritos{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .item_conteudo_favoritos{
        display: flex;
        justify-content: center;
    }
    
}