

.left_dados_produto_pedido_personalizado{
    flex-direction: column;
    width: 65%;
    height: 100%;
    display: flex;
}


.right_dados_produto_pedido_personalizado{
    width: 35%;
    height: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;

}


.item_column_pedido textarea{
    width: 95%;
    height:200px;
    border-radius: 5px;
    padding: 1rem;
    color:#4A4A4A;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #aaaaaa ;

}


@media (max-width:1289px){
    
.left_dados_produto_pedido_personalizado{
    flex-direction: column;
    width: 50%;
    height: 100%;
    display: flex;
}


.right_dados_produto_pedido_personalizado{
    width: 50%;
    height: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;

}


.item_column_pedido textarea{
    width: 95%;
    height:200px;
    border-radius: 5px;
    padding: 1rem;
    color:#4A4A4A;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #aaaaaa ;

}



}




@media (max-width:921px){
    .item_column_pedido input{
        width: 300px;
    }
}
@media (max-width:757px){
    .container_dados_produto_pedido_personalizado{
        display: flex;
        gap: 2rem;
    
    }
    .right_dados_produto_pedido_personalizado, .left_dados_produto_pedido_personalizado{
        width: 100%;

    }
    .right_dados_produto_pedido_personalizado{
        justify-content: center;
        align-items: center;
    }
   
}
   
    
    @media (max-width: 521px){
    
    
        
    .item_column_pedido input{
        display: flex;
        width: 250px;
        height: 30px;
        border-radius: 5px;
        outline: none;
        padding-left: 1rem;
        color: #4A4A4A;
        font-size: 13px;
        border: 1px solid #c2c2c2 ;
        background-color: transparent;
    }
    
    .item_column_pedido .input_2{
        width: 60px;
    
    }
    
    
    
    
    }
    
    @media (max-width: 337px){
    
    
        
    .item_column_pedido input{
        display: flex;
        width: 160px;
        height: 30px;
        border-radius: 5px;
        outline: none;
        padding-left: 1rem;
        color: #4A4A4A;
        font-size: 13px;
        border: 1px solid #c2c2c2 ;
        background-color: transparent;
    }
    
    .item_column_pedido .input_2{
        width: 40px;
    
    }
    
    
    
    
    }
    