
.container_perfil{
    display: flex;
    width: 100%;
    height: 100%;
}




.right_container_perfil{
    display: flex;
    width: 70%;
    height: 100%;
}

.container_right_perfil{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_banner_perfil{
    display: flex;
    background-color: rgb(241, 241, 241);
    width: 90%;
    height: 300px;
    border-radius: 100px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: relative;
    
}
.banner-img {
    width: 100%;
    height: 300px;
    object-fit: cover; 
    border-radius: 100px 5px 5px 5px;
} 


.shape_perfil{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -70px;
    left: 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.shape_perfil img{
    display: flex;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}  


/* .shape_perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden; /* para esconder partes da imagem fora do círculo */
    /* box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shape_perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantém a proporção e preenche o círculo */
    /* border-radius: 50%;
  } */ 
input[type="file"] {
    display: none;
  }
  
  .custom-upload {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #FA301E; 
    color: white;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: -40px;
    right: 735px;
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .custom-upload:hover {
    background-color: #FA301E;
  }











.inputs_perfil{
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 7rem;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}


.container_btn_perfil{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 20px;

}


.btn_salvar, .btn_cancelar{
    display: flex;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: transparent;
    color: #4A4A4A;

}

.btn_salvar{
    background-color:blue;
    color: white;
} 

.btn_cancelar{
    background-color: #FA301E;
    color: white;
}

.btn_cancelar:hover{
    color: #252525;
}

.btn_salvar:hover{
    color: #252525;
}











.input_perfil_container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 5rem;
}



.input_item_perfil{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.input_item_perfil label{
    font-size: 13px;
    color: #4A4A4A;
    font-weight: 600;

}

.container_edit_perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.container_edit_perfil i {
    color: #4A4A4A;
    font-size: 18px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;

}

.container_edit_perfil i:hover{
    background-color: #dadada;
    
}

.input_item_perfil input{
    display: flex;
    width: 350px;
    height: 35px;
    /* border: 1px solid rgb(170, 170, 170); */
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding-left: 10px;
    color: #4A4A4A;
}


.container_edit_perfil .input_esp_num{
    width: 80px;
}

.container_edit_perfil .input_tel{
    width: 188px;
}

.endereco_cadastrados{
    display: flex;
    font-size: 13px;
    color: #4A4A4A;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    background-color: transparent;
    margin: 1rem;

}

.endereco_cadastrados:hover{
    color: #161616;
}







@media (max-width:1020px) {

    .right_container_perfil{
        width: 100%;
    }
    .container_btn_perfil{
        padding-top: 1rem;
    }

    
.input_perfil_container{
    display: flex;
    width: 90%;
    gap: 4rem;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem;
    border-radius: 5px;

}

.input_item_perfil{
    justify-content: center;
}


    
}


@media (max-width:546px) {

    .shape_perfil img{

        width: 80%;
        height: 80%;

    }
    .shape_perfil{
        width: 150px;
        height: 150px;
    }

    .container_banner_perfil{
        height: 250px;
    }
}

@media (max-width:465px) {

    .shape_perfil img{

        width: 80%;
        height: 80%;

    }

    .shape_perfil{
        display: flex;
        background-color: rgb(255, 255, 255);
        width: 150px;
        height: 150px;
        position: absolute;
        bottom: -30px;
        left: 40px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    

    .container_banner_perfil{
        height: 200px;
    }
}