@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 

/* 
@import url(adm_default.css);
@import url(dashbord_adm.css);
@import url(cadastrar_categoria_adm.css);
@import url(cadastrar_produto_adm.css);
@import url(pedido_disponivel_adm.css);
@import url(pedido_personalizado_adm.css);
@import url(cadastrar_banner_adm.css); 
 */

 @import url(adm_default.css);
 @import url(dashbord_adm.css);
 @import url(cadastrar_banner_adm.css);
 @import url(cadastrar_categoria_adm.css);
 @import url(cadastrar_produto_adm.css);
 @import url(pedido_disponivel_adm.css);
 @import url(pedido_personalizado_adm.css);
 @import url(perfil_adm.css);
 @import url(favoritos_adm.css);
 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;

}


.body_adm{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(248, 252, 255);
    flex-direction: column;
}

.main_adm{
    display: flex;
    padding: 20px;
    padding-right: 60px;
    z-index: 1;
    padding-left: calc(100px + 55px);
    background-color: rgb(248, 252, 255);
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-grow: 1; /* Faz o main ocupar o espaço restante */
    overflow-y: auto; /* Adiciona scroll se o conteúdo ultrapassar */

}

.header_adm{
    display: flex;
}

#sidebar_adm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #252525;
    height: 100vh;
    border-radius: 0px 10px 10px 0px;
    transition:  all 0.3s ease-in-out;
    min-width: 100px;
    z-index: 2;
    position:fixed;
}

#sidebar_adm_content{
    padding: 12px;
}

.logo_sidebar{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    justify-content: center;
    height: 50px;
}

#logo_adm{
    height: 50px;
    border-radius: 50%;
    width: 50px;

}

#side_bar_itens{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side_bar-itens{
    border-radius: 5px;
    cursor: pointer;
    list-style: none;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;

}

.side_bar-itens.active{
    background-color: rgb(255, 255, 255);
}

.side_bar-itens:hover:not(.active), #btn_logout_adm:hover{
    background-color: rgb(255, 255, 255);
}


.side_bar-itens a{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    color:#898989 ;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}



.side_bar-itens.active a i{
    color:#FA301E;
    text-decoration: none;

}

.side_bar-itens a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 17px;
    text-decoration: none;
    color: #898989;
}

#logout_adm{
    border-top:  1px solid  rgb(78, 78, 78);
    padding: 12px;
    justify-content: center;
    display: flex;

}

.btn_logout_adm{
    display: flex;
    background-color: white;
    border: none;
    outline: none;
}



#open_btn_adm{
    position: absolute;
    top: 30px;
    right: -15px;
    background-color: #FA301E;
    color: rgb(255, 255, 255);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    outline: none;

}

#open_btn_icon_adm{
    transition:  transform 0.3s ease;

}

.open-sidebar #open_btn_icon_adm{
    transform: rotate(180deg);

}




.text_side_item{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    transition: width 0.3s ;
    height: 0px;
    font-weight: 500;

}

#sidebar_adm.open-sidebar {
    min-width: 15%;

}

#sidebar_adm.open-sidebar .text_side_item{
    width: 150px;
    height: auto;

}

#sidebar_adm.open-sidebar  .side_bar-itens a{
    justify-content: flex-start;
    gap: 14px;
    text-decoration: none;

}

.nav_mobile_adm{
    display: none;
}

.navbar_adm{
    display: flex;
}






@media (max-width: 800px) {
    .main_adm{
        padding: 0;
        z-index: 1;
        padding-left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 10px;
        margin-bottom: 5rem;
    }
    #sidebar_adm{
        display: none;
    }

    .nav_mobile_adm{
        display: flex;
        position: absolute;
        width: 100%;
        bottom:20px;
        height: auto;
        position: fixed;
        z-index: 3;
        justify-content: center;
        align-items: center;

    }

    .nav_mobile_adm .nav_bar_content_mobile_adm{
        display: flex;
        background-color:#252525;
        width: 80%;
        justify-content: center;
        align-items: center;
        list-style: none;
        height:70px;
        border-radius: 10px;
    }

    .nav_mobile_adm .nav_bar_content_mobile_adm ul{
        display: flex;
        list-style: none;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .nav_mobile_adm .nav_bar_content_mobile_adm ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }
    .nav_mobile_adm .nav_bar_content_mobile_adm ul li a{
        display: flex;
        color:#898989;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
    }

    .nav_mobile_adm .nav_bar_content_mobile_adm ul li a:hover{
        color: white;
        text-decoration: none;
    }

    .nav_mobile_adm .nav_bar_content_mobile_adm ul li .active_mob{
        color: white;
        text-decoration: none;
    }


    
}

@media (max-width: 645px) {

    .nav_mobile_adm .nav_bar_content_mobile_adm{
        display: flex;
        width: 55%;
        height:70px;
      
    }
    .nav_mobile_adm .nav_bar_content_mobile_adm ul{
        gap: 20px;
    }

}

@media (max-width: 532px) {

    .nav_mobile_adm .nav_bar_content_mobile_adm{
        display: flex;
        width: 75%;
        height:70px;
      
    }

}
@media (max-width: 468px) {

    .nav_mobile_adm .nav_bar_content_mobile_adm{
        display: flex;
        width: 85%;
        height:70px;
      
    }

}
@media (max-width: 408px) {

    .nav_mobile_adm .nav_bar_content_mobile_adm{
        display: flex;
        width: 99%;
        height:65px;
        margin: 20px;
    }




}
































